{% extends "forecasts/base.html" %}

{% block content %}

{% if searches.count > 0 %}
    <p><h1>Your search history below:</h1></p>
    <table class="table table-striped table-inverse table-bordered" id="previousSearches">
    <thead>
        <tr>
        <th>Address Searched For:</th>
        <th>Date When Searched:</th>
        </tr>
    </thead>
    <tbody id="user_searches">
        {% for search in searches %}
            <tr>
                <td><a href="{% url 'view-hourlyforecasts' search.id %}">{{search.entered_address}}</a></td>
                <td>{{search.time_of_search}}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

    {% include "forecasts/pagination.html" %}

{% else %}
    <p id="noSearchesParagraph"><h1>You have not made any searches</h1></p>
{% endif %}


{% endblock content %}